{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
     <div class="row text-center">
         <div class = 'col-18'>
             <div class = 'card'>
                 <div class = 'card-body'>
                     <form method="post">
                         {% csrf_token %}
                         <p>Хотите удалить отзыв "{{object.title}}"?</p>
                         <button type="submit" class="btn-success">Подтвердить</button>
                     </form>
                 </div>
             </div>
         </div>

     </div>
{% endblock %}